li {
  color: white;
  background-color: teal;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-bottom: 3px;
  cursor: pointer;
}

li:hover {
  color: gray;
  background-color: rgb(6, 180, 180);
}

.badge {
  background-color: yellowgreen;
  color: darkgreen;
  padding: 5px;
}

.selected {
  color: rgb(182, 182, 182);
  background-color: rgb(1, 93, 93) !important;
}

a {
  text-decoration: none;
  color: white;
}
